# 1.0 Course grades

In [1]:
import pandas as pd
import numpy as np

In [2]:
transcripts_path = r"C:\Users\ASUS\Desktop\AppliedNLP\1_lab\data\transcript_courses.csv"

In [3]:
df = pd.read_csv(transcripts_path)

In [4]:
df.shape

(31, 9)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Semester      31 non-null     object
 1   Course Code   31 non-null     object
 2   Course Title  31 non-null     object
 3   Credit        31 non-null     int64
 4   ECTS          31 non-null     int64
 5   Grade         24 non-null     float64
 6   Letter Grade  31 non-null     object
 7   Point         22 non-null     float64
 8   Traditional   31 non-null     object
dtypes: float64(2), int64(2), object(5)
memory usage: 2.3+ KB

In [6]:
df.head(5)

,Semester,Course Code,Course Title,Credit,ECTS,Grade,Letter Grade,Point,Traditional
0,2023 - 2024. 1,MAT 106,Information and Communication Technologies (in...,3,5,73.0,C+,2.33,Good
1,2023 - 2024. 1,MAT 123,Linear Algebra,4,5,86.0,B+,3.33,Good
2,2023 - 2024. 1,MCM 103,Calculus 1,4,5,56.0,D+,1.33,Satisfactory
3,2023 - 2024. 1,MDE 131,Turkish Language 1 (А1 level),2,3,88.0,B+,3.33,Good
4,2023 - 2024. 1,MDE 160,Community engagement and value based Society 1,1,0,94.0,P,NaN,Pass

In [7]:
df.isna().sum()

Semester        0
Course Code     0
Course Title    0
Credit          0
ECTS            0
Grade           7
Letter Grade    0
Point           9
Traditional     0
dtype: int64

### Most of the NaN grades are from current semester

In [8]:
df1_nan = df[df['Point'].isna()]
print(df1_nan.shape[0])
df1_nan.head(5)

9

,Semester,Course Code,Course Title,Credit,ECTS,Grade,Letter Grade,Point,Traditional
4,2023 - 2024. 1,MDE 160,Community engagement and value based Society 1,1,0,94.0,P,NaN,Pass
13,2023 - 2024. 2,MDE 170,Community engagement and value based Society 2,1,0,93.0,P,NaN,Pass
24,2024 - 2025. 2,INF 202,Database Management Systems 1,3,5,NaN,IP,NaN,In progress
25,2024 - 2025. 2,INF 207,Introduction to Business for IT,3,5,NaN,IP,NaN,In progress
26,2024 - 2025. 2,INF 313,Computer networks 1,3,5,NaN,IP,NaN,In progress